<!-- DO NOT FORGET TO CALIBRATE IMU FIRST! -->
<launch>
    <!-- <arg name="" default=""/> -->
    <rosparam command="load" file="$(find autorun)/config/common.yml" />
    <rosparam command="load" file="$(find autorun)/config/scan_matcher.yml" />

    <include file="$(find driver_interaction)/launch/driver_connection.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar_s2.launch"/>
    <include file="$(find scan_to_cloud_converter)/launch/scan_to_pcl2.launch"/>
    <include file="$(find wt901)/launch/wt901_calib.launch"/>
    <include file="$(find wt901)/launch/wt901.launch"/>

    <!-- <node name="static_tf" pkg="autorun"  type="static_tf2_broadcaster.py" output="screen"/> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_lser_static_tf" args="0 0 0.6 1.047 0 0 base_link laser" />
    <!-- <node name="laser_scan_matcher" pkg="laser_scan_matcher"  type="laser_scan_matcher_node" output="screen"/> -->

    <!-- <node pkg="autorun" type="pose_stamped_republisher.py" name="pose_stamped_republisher" /> -->
</launch>