<?xml version="1.0"?>
<launch>

  <!-- <param name="/use_sim_time" value="true"/> -->

  <!-- <include file="$(find aruco_robot)/launch/localization.launch" /> -->
  <!-- <include file="$(find aruco_robot)/launch/move_base.launch" /> -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_base_link" args="0 0 0 0 0 0 base_link imu" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="earth_to_map_link" args="0.75 0.5 0 0 0 0 earth map" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_link" args="0.0 0.0 0 0 0 0 map odom" />

  <!-- <include file="$(find process_pcl2)/launch/process_pcl2.launch"/> -->
  <include file="$(find aruco_strategy)/launch/gomo.launch"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aruco_robot)/rviz/default.rviz" />

</launch>