<launch>
  <node name="aruco_tracker" pkg="nodelet" type="nodelet" args="standalone aruco_opencv/ArucoTracker" output="screen" respawn="true">
    <rosparam command="load" file="$(find energybot1_opencv)/config/aruco_tracker.yaml" />
    <param name="board_descriptions_path" value="$(find energybot1_opencv)/config/board_descriptions.yaml" />
  </node>
</launch> 