<?xml version="1.0"?>
<launch>

    <rosparam file="$(find aruco_robot)/config/common.yaml" command="load" ns="" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_base_link" args="0 0 0 0 0 0 base_link imu" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="earth_to_map_link" args="0.75 0.5 0 0 0 0 earth map" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_link" args="0.0 0.0 0 0 0 0 map odom" />

    <include file="$(find aruco_robot)/launch/map_callibration.launch" />
    <include file="$(find aruco_robot)/launch/robot_pose.launch" />
    <include file="$(find aruco_robot)/launch/ekf.launch" />

</launch>